NEXT_PUBLIC_EMAIL_SECRET_KEY=
NEXT_PUBLIC_EMAIL_SERVICE_KEY=
NEXT_PUBLIC_EMAIL_TEMPLATE_KEY=

# Razorpay Configuration
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here